h1{
    color: blue;
    text-align: center;
}

p{
    color: blueviolet;
    text-align: justify;
}

div{
    background-color: gold;
    width: fit-content;
    height: fit-content;
    margin: 30px;
    padding: 20px;
    font-family: 'Times New Roman', Times, Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    border: 3px solid blue;

}

table{
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
}

th,td{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
th{
    background-color: lightgray;
}

#top{
    font-size: 28px;
}

#middle{
    font-size: 24px;
}

#bottom{
    font-size: 18px;
}

.name{
    font-weight: bold;
}